PantryFi.xcodeproj/project.xcworkspace/xcuserdata/
PantryFi.xcodeproj/xcuserdata/davidares.xcuserdatad/
PantryFi.xcworkspace/xcuserdata/davidares.xcuserdatad/
Pods/Pods.xcodeproj/xcuserdata/davidares.xcuserdatad/
PantryFi.xcodeproj/xcuserdata/aganser.xcuserdatad/xcdebugger/
